.position-absolute, .absolute { position: absolute; }
.position-relative, .relative { position: relative; }
.position-fixed, .fixed { position: fixed; }

.display-block, .block { display: block; }
.display-inline-block, .inline-block { display: inline-block; }
.display-flex, .flex { display: flex; }
.display-none, .no-display { display: none; }

.flex-direction-row, .flex-row { flex-direction: row; }
.flex-direction-column, .flex-column { flex-direction: column; }

.flex-wrap-wrap, .flex-wrap { flex-wrap: wrap; }
.flex-wrap-nowrap, .flex-nowrap { flex-wrap: nowrap; }

.flex-wrap-wrap, .flex-wrap { flex-wrap: wrap; }
.flex-wrap-nowrap, .flex-nowrap { flex-wrap: nowrap; }

.align-items-flex-start { align-items: flex-start; }
.align-items-center { align-items: center; }
.align-items-flex-end { align-items: flex-end; }

.justify-content-flex-start { justify-content: flex-start; }
.justify-content-center { justify-content: center; }
.justify-content-flex-end { justify-content: flex-end; }

.flex-grow-1, .flex-grow { flex-grow: 1; }
.flex-grow-0, .no-flex-grow { flex-grow: 0; }

.flex-shrink-1, .flex-shrink { flex-shrink: 1; }
.flex-shrink-0, .no-flex-shrink { flex-shrink: 0; }

.flex-basis-1, .flex-basis { flex-basis: 1; }
.flex-basis-0, .no-flex-basis { flex-basis: 0; }

.no-margin { margin: 0; }
.no-padding { padding: 0; }
.no-border { border-width: 0; }

.full-size { width: 100%; height: 100%; }
.three-quarter-size { width: 75%; height: 75%; }
.half-size { width: 50%; height: 50%; }
.a-quarter-size { width: 25%; height: 25%; }
.no-size { width: 0; height: 0; }

.full-width { width: 100%; }
.three-quarter-width { width: 75%; }
.half-width { width: 50%; }
.a-quarter-width { width: 25%; }
.no-width { width: 0; }

.full-height { height: 100%; }
.three-quarter-height { height: 75%; }
.half-height { height: 50%; }
.a-quarter-height { height: 25%; }
.no-height { height: 0; }

.text-align-left { text-align: left; }
.text-align-center { text-align: center; }
.text-align-right { text-align: right; }

.background-color-white, .bg-color-white { background: white; }
.background-color-black, .bg-color-black { background: black; }
.background-color-red, .bg-color-red { background: #e12332; }

.text-color-white, .color-white { color: white; }
.text-color-black, .color-black { color: black; }
.text-color-red, .color-red { color: #e12332; }